################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/graduation_proj/FileContentIndex/359d8c50-8377-4baa-8411-95f363103da6.vsidx
